<section class="hero-container">
    <div class="hero">
        <div class="hero-content">
            <h1 >
                <span class="block">Expert Car Care You</span>
                <span>Can Trust</span>
            </h1>
            <p>
                Get Back on the Road Quickly with Ddsgnr, Expert Car Care You Can Trust,Expert Car Care You Can TrustExpert Car Care You Can TrustExpert Car Care You Can TrustExpert Car Care You Can Trust
            </p>
            <button>Book Your Appointment Now</button>
        </div>
    </div>
</section>

<style>
    .hero-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero {
        position: relative;
        width: 85%;
        font-family: "Roboto", system-ui, sans-serif;
        padding: 8rem 6rem;
        min-height: 80vh;

        background-image: url("/backgroundCar.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
    }

    .block {
        display: block;
    }
    .hero-content {
        max-width: 40%;
        color: #fff;
    }

    .hero-content h1 {
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 1.5rem;
        font-weight: 700;
    }

    .hero-content p {
        font-size: 1rem;
        line-height: 1.7;
        margin-bottom: 2rem;
        color: #ddd;
    }

    .hero-content button {
        padding: 0.9rem 1.5rem;
        background: #fff;
        color: #000;
        border: none;
        border-radius: 4px;
        font-weight: 500;
        cursor: pointer;
    }

    @media (max-width: 600px) {
    .hero {
        padding: 3rem 2rem;
        justify-content: center;
        text-align: center;
        width: full;
    }

    .hero-content {
        max-width: 100%;
    }
}
</style>