---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import AboutHero from "../components/about/AboutHero.astro"
import Mission from "../components/about/Mission.astro"
import Team from "../components/home/Team.astro"
import Faq from "../components/home/Faq.astro"
import Bottom from "../components/home/Bottom.astro"
import ContactUs from "../components/contact/ContactUs.astro";
import { FORMSPREE_ID, contactData } from '../data/contact';
---

<Layout title="Home">
  <div class="container">
    <Hero />
    <AboutHero />
    <Mission />
    <ContactUs {...contactData} formspreeId={FORMSPREE_ID} />
    <Team />
    <Faq />
    <Bottom />
  </div>
</Layout>

<style>
    .container {
      display: flex;
      flex-direction: column;
      justfiy-content: center;
      align-items: center;
    }
</style>
